{% extends 'base.html.twig' %}

{% block body %}
    <h2>Catégorie {{ category.name }}</h2>

    {% for product in category.products %}
        {{ product.name }}

        {% for photo in product.photos %}
            <img src="{{ photo.path }}" alt="{{ photo.product.name }}" />
        {% endfor %}
    {% endfor %}

{% endblock %}

